<!DOCTYPE html>
<html>
<head>
    <title>Resultados de la Calculadora de Resortes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>

    <div class="header">
        <div class="header-content">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </div>
            <ul class="nav">
                <li><a href="/">Inicio</a></li>
                <!-- Otros elementos de navegación -->
            </ul>
        </div>
    </div>


    <div class="cards-container">
        <div class="card-box">
            <p>Peso capturado: {{ peso }} kg</p>
        </div>
        
        <div class="card-box">
            <p>Altura capturada: {{ altura }} m</p>
        </div>
    
        <!-- Corregido para mostrar el ancho en lugar de la altura duplicada -->
        <div class="card-box">
            <p>Ancho capturado: {{ ancho }} m</p>
        </div>
    </div>
    
    
    
    <!-- Aquí continúa el resto de tu código HTML para el formulario y la visualización de combinaciones -->
    



    <form action="/filtrar_resultados" method="post">
        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Desmarca los resortes que no tengas en stock</legend>
            <div class="checkbox-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
                {% for tipo in tipos_unicos %}
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox-input" name="resortes_disponibles" value="{{ tipo }}"
                            {% if not tipos_seleccionados or tipo in tipos_seleccionados %}checked{% endif %}>
                            <span class="checkbox-tile">
                                <span class="checkbox-icon">
                                    <img src="https://i.ibb.co/zJWfLy3/resorte-de-acero.png" alt="Icono de automotor" class="small-icon">
                                </span>
                                <span class="checkbox-label">{{ tipo }}</span>
                            </span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="peso" value="{{ request.form['peso'] }}">
            <input type="hidden" name="altura" value="{{ request.form['altura'] }}">
            <div class="submit-container" style="text-align: center; margin-top: 20px;">
                <input type="submit" value="Aplicar" class="btn-aplicar">
            </div>
        </fieldset>
    </form>
    
    
    
    
    
    
    
    
    















    <h2>Combinaciones recomendadas:</h2>
    <table class="tabla-resultados">
        <thead>
            <tr>
                <th>Combinación</th>
                <th>Resorte</th>
                <th>Vueltas</th>
                <th>Peso del Resorte</th>
                <!-- Repetir para la segunda parte de cada combinación -->
            <th>Resorte</th>
            <th>Vueltas</th>
            <th>Peso del Resorte</th>
            </tr>
        </thead>
        <tbody>
            {% for combo in combinaciones %}
            <tr>
                <td>Combinación {{ loop.index }}</td>
                {% for resorte in combo %}
                <td>{{ resorte.tipo }}</td>
                <td>{{ resorte.vueltas }}</td>
                <td>{{ resorte.peso_por_resorte }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Ver más combinaciones de resortes recomendadas:</h2>
    <div class="opciones-adicionales">
        {% for num_resortes, info in opciones.items() %}
        <div>
            <button onclick="mostrarCombinaciones({{ num_resortes }})">{{ info.texto_boton }}</button>
            <span>Con {{ num_resortes }} resorte(s): {{ info.cantidad }} Combinaciones encontradas.</span>
        </div>
        {% endfor %}
    </div>

    <h3>Combinaciones Adicionales:</h3>
    <table id="resultadosAdicionales" class="tabla-resultados"></table>

    <script>
        function mostrarCombinaciones(numResortes) {
            var formData = new FormData();
            formData.append('num_resortes', numResortes);
            formData.append('peso', '{{ request.form['peso'] }}');
            formData.append('altura', '{{ request.form['altura'] }}');

            fetch('/get_combinaciones', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                var resultadosDiv = document.getElementById('resultadosAdicionales');
                resultadosDiv.innerHTML = '';
                data.forEach(combinacion => {
                    resultadosDiv.innerHTML += '<tr>' + combinacion + '</tr>';
                });
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
