<!DOCTYPE html>
<html>
<head>
    <title>Resultados de la Calculadora de Resortes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

</head>
<body>

    <div class="header">
        <div class="header-content">
            <div class="header-logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
            </div>
            <ul class="nav">
                <li><a href="/">Inicio</a></li>
            </ul>
        </div>
    </div>

    <div class="cards-container">
        <div class="card-box">
            <img src="https://i.ibb.co/HLSW0Mt/negocio.png" alt="Peso" class="icono">
            <p>Peso capturado: {{ peso }} kg</p>
        </div>
        
        <div class="card-box">
            <img src="https://i.ibb.co/0J5SyL7/altura.png" alt="Altura" class="icono">
            <p>Altura capturada: {{ altura }} m</p>
        </div>
    
        <div class="card-box">
            <img src="https://i.ibb.co/2tQQY23/ancho.png" alt="Ancho" class="icono">
            <p>Ancho capturado: {{ ancho }} m</p>
        </div>
    </div>
    <form action="/filtrar_resultados" method="post">
        <fieldset class="checkbox-group">
            <legend class="checkbox-group-legend">Desmarca los resortes que no tengas en stock</legend>
            <div class="checkbox-container" style="display: flex; flex-wrap: wrap; justify-content: center;">
                {% for tipo in tipos_unicos %}
                    <div class="checkbox">
                        <label class="checkbox-wrapper">
                            <input type="checkbox" class="checkbox-input" name="resortes_disponibles" value="{{ tipo }}"
                            {% if tipo in tipos_seleccionados %} checked {% endif %}>
                            <span class="checkbox-tile">
                                <span class="checkbox-icon">
                                    <img src="https://i.ibb.co/zJWfLy3/resorte-de-acero.png" alt="Icono de automotor" class="small-icon">
                                </span>
                                <span class="checkbox-label">{{ tipo }}</span>
                            </span>
                        </label>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="peso" value="{{ peso }}">
            <input type="hidden" name="altura" value="{{ altura }}">
            <input type="hidden" name="ancho" value="{{ ancho }}">
            <div class="submit-container" style="text-align: center; margin-top: 20px;">
                <input type="submit" value="Aplicar" class="btn-aplicar">
            </div>
        </fieldset>
    </form>
    

   <div class="combinations-container">
        {% for num_resortes, combinaciones in combinaciones_por_numero.items() %}
            <h3>{{ num_resortes }} Resorte(s):</h3>
            <div class="cards">
                {% for combo in combinaciones %}
                    <div class="card">
                        <div class="card-content">
                            <h4 class="card-header">Combinación {{ loop.index }}</h4>
                            <div class="card-body">
                                {% for resorte in combo %}
                                    <p>{{ resorte.tipo }} - Vueltas: {{ resorte.vueltas }} - Peso: {{ resorte.peso_por_resorte }} kg</p>
                                {% endfor %}
                            </div>
                            <!-- Botones de copiar y imprimir -->
                            <div class="card-actions">
                                <button class="btn" onclick="copiarInformacion(this)">Copiar</button>
                                <button class="btn" onclick="imprimirInformacion(this)">Imprimir</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- JavaScript para manejar copiar e imprimir -->
    <script>
        function copiarInformacion(buttonElement) {
            var textoACopiar = "";
            var cardContent = buttonElement.closest('.card').querySelector('.card-body');
            cardContent.querySelectorAll('p').forEach(function(p) {
                var texto = p.textContent.split(' - ')[0]; // Extrae solo el tipo
                textoACopiar += "1 Resorte de " + texto + "\n"; // Agrega el prefijo y formatea el texto
            });
            navigator.clipboard.writeText(textoACopiar.trim()).then(function() {
                alert("Información copiada al portapapeles");
            }, function(err) {
                console.error('Error al copiar: ', err);
            });
        }
        

        function imprimirInformacion(buttonElement) {
            var cardContent = buttonElement.closest('.card').querySelector('.card-body');
            var resortes = Array.from(cardContent.querySelectorAll('p')).map(p => `resortes=${encodeURIComponent(p.textContent)}`).join('&');
    
            // Asegúrate de incluir peso, altura y ancho en la URL
            var peso = document.querySelector('.card-box img[alt="Peso"] + p').textContent.split(': ')[1].trim();
            var altura = document.querySelector('.card-box img[alt="Altura"] + p').textContent.split(': ')[1].trim();
            var ancho = document.querySelector('.card-box img[alt="Ancho"] + p').textContent.split(': ')[1].trim();
    
            var url = `/imprimir_ticket?peso=${peso}&altura=${altura}&ancho=${ancho}&${resortes}`;
            window.open(url, '_blank');
        }
    </script>
    
    
 





    
</body>
</html>
